*{
    font-family: Luminari, fantasy;
}



body {
    background-color: black;
}


.friend-suggestion {
    display: flex;
    flex-direction: column;

    border-bottom: solid 1px var(--violet100);
    width: fit-content;
    align-items: center;
}

.profile-pic {
    width: 75px;
    margin: auto;
}

.profile-name {
    color: white;
    font-weight: 600;
    font-size: 1.2em;
}

.newFriend-button {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.newFriend-button button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: var(--grey700);
    font-weight: 600;
}

.addFriend {
    background-color: var(--violet100);
}

.addFriend:hover {
    background-color: var(--violet300);
}


.visit {
    background-color: var(--grey300);
}

.visit:hover {
    background-color: var(--grey400);
    color: var(--grey200);
}

.friend-suggestion-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 30px;
}