* {
    font-family: Luminari, fantasy;
}

.list-suggestion {
    padding: 30px 0px 0px 20px;
    display: inline-block;
    vertical-align: top;
    background-color: #3b3e49;

    height: 100%;
    display: flex;
    flex-direction: column;
}


#suggestions {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 30px;

    margin-top: 20px;
}



.friend-suggestion {
    display: flex;
    flex-direction: column;

    border-bottom: solid 1px var(--violet100);
    width: fit-content;
    align-items: center;
}

.profile-pic {
    width: 75px;
    margin: auto;
    border-radius: 100%;
}

.profile-name {
    color: white;
    font-weight: 600;
    font-size: 1.2em;
}

.newFriend-button {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.newFriend-button * {
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: var(--grey700);
    font-weight: 600;
    font-size: 0.8em;
}

.addFriend {
    background-color: var(--violet100);
}

.addFriend:hover {
    background-color: var(--violet300);
}


.visit {
    background-color: var(--grey300);
    text-decoration: none;
}

.visit:hover {
    background-color: var(--grey400);
    color: var(--grey200);
}

.friend-suggestion-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 30px;
}

.star-common {
    margin-top: 0px;
    margin-bottom: 10px;
    color:white;
    font-size: 0.9em;
    font-weight: 600;
    position: relative;
}

.star-common-list:hover::after{
    content: "Click to see which ones...";
    background-color: var(--grey700);
    color: white;
    position: absolute;
    left:0%;
    bottom:20px;
    width:max-content;
    padding:5px;
    border-radius: 5px;
}