*{
    font-size: 20px;

	--primary: #47375c;
	--secondary: #eed0ee;
	--accent: #5a3859;
	--text: #000000;
	--bg: #ececf2;
	
	
	
}

.chat-personne{
    height: 100%;
    width: 100%;

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.chat-personne header{
	
	height:110px;
	padding:30px 20px 30px 40px;
    box-sizing: border-box;
    background-color: var(--grey600);
    display: flex;
}
.chat-personne header > *{
	display:inline-block;
	vertical-align:top;
}

.chat-personne header img{
	border-radius:50%;
	position: relative;
	left:40%;
    width: 50px;
    height: 50px;
}

.chat-personne header > div{
	position: relative;
	left:40%;
	margin-left:10px;
	margin-right:145px;
}

.chat-personne header .nom{
	font-size:16px;
    margin:0px;
	margin-bottom:5px;
}
.chat-personne header .status{
	font-size:14px;
    margin:0px;
	font-weight:normal;
	color:#7e818a;
}

#back{
	color: black;
	text-decoration: none;
	position: relative;
}

/* #back div{
	position:absolute;
	top:50%;
	-ms-transform: translateY(-50%);
	background-color: transparent;
    height: 20px;
    width: 20px;

	border-bottom: 4px solid #d1d5db;
    border-left: 4px solid #d1d5db;
    transform: translateX(25%) translateY(-50%) rotate(45deg);
} */

.fleche{
	position: absolute;
	transform:  rotate(180deg);
	background-color: var(--blue400);
}

.fleche:hover{
	background-color: var(--blue600);
}


#back:hover div {
  border-color: rgb(255, 255, 255);
}


#chat-history{
	background-color: var(--grey400);
	padding-left:0;
	margin:0;
    padding-left: 15px;
    padding-right: 15px;
	list-style-type:none;
	overflow-y:scroll;
	height:100%;
}


ul { padding: 0; }

#chat-history > li {
	position: relative;
	list-style: none;
	display: block;
	margin-top: 1.5rem;
	margin: 1rem 0;
	transition: 0.5s all;
}


#chat-history > li:after {
	display: table;
	content: '';
	clear: both;
}

.msg{
    max-width: 85%;
    display: inline-block;
    padding: 0.5rem 1rem;
    line-height: 1rem;
    font-size: 0.875rem;
    border-radius: 1rem;
      border-bottom-right-radius: 1rem;
    margin-bottom: 0.5rem;
}

.msg.them {
	float: left;
	background-color: var(--violet500);
color: whitesmoke;
	border-bottom-left-radius: 0.125rem;
}
.msg.me {
	float: right;
	background-color: white;
color: var(--grey500);
	border-bottom-right-radius: 0.125rem;
}

.msg > span {
	font-weight: 500;
	position: absolute;
}
.msg > span.personne {
	color: #B0BEC5;
	font-size: 0.5rem;
	top: 0;
	font-size: 0.675rem;
	margin-top: -1rem;
}
.msg > span.time {
	color: #CFD8DC;
	font-size: 0.5rem;
	bottom: -0.35rem;
	display: none;
}
.msg:hover span.time { display: block; }
.msg.them > span { left: 0;	 }
.msg.me > span {	right: 0; }





.sendMessages{
	background-color: var(--grey600);
	padding:10px;
}

.sendMessages input[type="text"]{
	border-radius: 10px;
	padding:10px;
	width:70%;
	border: none;
	background-color: var(--grey100);
}

.sendMessages input[type="text"]:read-only{
	background-color: var(--grey300) !important;
}

.sendMessages input[type="text"]:read-only:focus{
	outline: none;
}

.sendMessages input[type="text"]:read-only:hover{
	cursor: default;
}

.sendMessages input[type="submit"]{
	margin-left: 10px;
	border: none;
	padding:10px;
	background: var(--violet500);
color: whitesmoke;
  	font-weight: bold;
  	cursor: pointer;
	border-radius: 20px;
}

.sendMessages input[type="submit"]:hover{
	background: var(--blue700);
	filter: brightness (50%);
}

.sendMessages input[type="submit"]:disabled{
	background: var(--grey400) !important;
}

.sendMessages input[type="submit"]:disabled:hover{
	background: var(--grey400) !important;
	cursor: default;
}