*{
    font-family: Georgia,serif;
}
#background {
    background-color: black;
    height: 100%;
    width: 100%;


}

#galaxy{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#menu{

    margin: 0 auto;
    background-color: transparent;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;

}

.dropUp{
    position: relative;
    display: inline-block;
}

.dropUp-content button:hover {background-color: #ddd;}

.dropUp:hover .dropUp-content {display: block;}


.dropUp-content{
    display: none;
    position: absolute;
    bottom: 45px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropUp-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.options{
    padding: 14px 16px;
    border: none;
    background-color: transparent;
    color: aliceblue;
    font-size: 1em;
    cursor: pointer;
}

.starDiv:hover > .starInfo{
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
}

.starInfo{
    display: none;
    position:absolute;
    bottom: 30px;
    border-radius: 5px;
    background-color: grey;
    z-index: 1;
}
.starInfo > p{
    color: black;
    display: block;
    /*padding: 5px 6px;*/
    text-decoration: none;
    margin-bottom: 5px;
    margin-top:5px;

}

.starName{
    text-align: center;
    font-weight: bold;
}

.starDesc{

}

.stars{
    filter: invert(100%) opacity(0.5);
}

.red {
    filter: drop-shadow(0 0 0 indianred) ;
}

.blue {
    filter:  invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);

}

.yellow {
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(150deg) brightness(95%) contrast(80%);
}


#star-option{
    position:fixed;
    z-index: 1000;
    width:150px;
    background: #1b1a1a;
    border-radius: 5px;
}

#star-option .option {
    padding: 8px 10px;
    font-size: 15px;
    color: #eeeeee;
    cursor: pointer;
    border-radius: inherit;
}

#star-option .option:hover{
    background: #343434;
}




.create{
    background-color: rgba(125,125,125,0.3);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
       border-radius: 0.5em;
    padding: 1em;
    gap: 0.25em;
    box-shadow: 0 0 5px rgba(255,255,255,0.8);
}

.create > textarea {
    border-radius: 0.2em;
    resize: none;
}

.create > label {
    color : white;
}



.hidden{
    display: none;
}