.container {
    background-color: var(--red200);
    text-align: center;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    width: 30%;
    padding-bottom: 15px;
}

.container h3{
    color: var(--red800);
}

.container .yes{
    background-color: var(--red400);
color:white;
left: -15%;
position: relative;
border-radius: 15px;
box-shadow: none;
border: none;
width: 10%;
height: 20%;

}

.container .no{
    border-radius: 15px;
    background-color: var(--grey400);
    color:white;
    left:15%;
    position: relative;
    border: none;
    width: 10%;
    height: 20%;
}
.no:hover{
    background-color: var(--grey600);
    
}

.yes:hover{
    background-color: var(--red600);
}