svg.icon:hover{
    z-index: 1002;
    transform: scale(1.1);
}

svg.icon {
    z-index: 1002;
    width: 24px;
    height: 24px;
    pointer-events: auto;
    position: relative;
    left: -15px;
    top: -8px;
}
svg.icon > rect {
    color: white;
}
.ui{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row-reverse;

    z-index: 999;
}

.ui *{
    z-index: inherit;
}

.create{
    background-color: #424048;
    opacity: 70%;
    box-shadow: 0 0 20px 0px  #e4e1ea;
    border-radius: 10px;
    padding:10px;
    display: flex;
    flex-direction: column;
}

.create  p {
    color: mintcream;
    font-weight: bold;
    font-size: 1.5em;
}

.create .title {
    background-color:  #342f41;
    margin: -10px -10px 10px -10px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}


.create > label {
    color: white;
    position: relative;
    left: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.create input:active, .create > textarea:active{
    transform: scale(0.98);
}

.create input:focus, .create > textarea:focus{
    border: solid 2px cadetblue;
}
.create  input{
    margin-bottom: 10px;
    border-radius: 5px;
    outline:none;
    padding: 10px;
    width: 75%;
    align-self: center;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.create > textarea{
    resize:none;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    outline:none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.create > button{
    width: 30%;
    align-self: center;
    border-radius: 50px;
    font-weight: bold;
    border:transparent;
}

.sizeForm{
    display: flex;
    align-self: center;
    width: 100%;
}

#starSize{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#preview{
    margin: auto;
    
    vertical-align: middle;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.previewContainer{
    min-height: 105px;
    background-color: none;
    margin: 0;
    
    position: relative;
    text-align: center;

    margin-top: -40px;
    z-index: 998;
}

#select-galaxy{
    padding:5px;
    margin-bottom: 10px;
    width:80%;
    position:relative;
    left:50%;
    transform: translateX(-50%);
    overflow-y:auto;
    height: 50px;
}
#select-galaxy option{
    overflow-y: scroll;
}


.div-select{
    max-height: 150px;
    overflow-y: scroll;
}