
.ui{
    background-color: var(--grey200);
    border-radius: 40px;
    width: 70%;
    position:absolute;
    left:50%;
    top:50px;
    transform: translateX(-50%);
}

.icon{
    width: 30px;
    position:absolute;
    right:20px;
    top:20px;
}