*{
    font-family: Georgia,serif;
}
#background {
   height: 1000px; 
    background-image: radial-gradient(circle at center,#100a1f, #1d0f30, #11152ee5,#000818e5);
    
}

#univers{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
}

.starDiv, .galaxyDiv{
    position:fixed;
}

.starDiv:hover > .starInfo , .galaxyDiv:hover > .galaxyInfo{
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
}

.starInfo, .galaxyInfo{
    display: none;
    position:relative;
    bottom: 30px;
    border-radius: 5px;
    background-color: grey;
    z-index: 1;
}
.starInfo > p:not(.hidden), .galaxyInfo > p:not(.hidden){
    /* color: black; */
    display: block;
    padding: 5px 6px;
    /* text-decoration: none; */
    margin-bottom: 5px;
    margin-top:5px;

}

.starName, .galaxyName{
    text-align: center;
    font-weight: bold;
    text-decoration: underline rgb(68,68,68);
}

.starDesc, .galaxyDesc{
    text-align: center;
    color: rgb(4, 4, 151);
    
}

.stars, .galaxy{
    border-radius: 50%;
    animation-duration: 5s;
}

@keyframes popUpStar {
    from{
        box-shadow: rgba(255, 255, 255, 0.8) 0px 0px 50px inset, rgba(255, 255, 255, 0.9) 0px 0px 30px;
    border-radius: 100px;
    }
    to {
        box-shadow: none;
    }
}

.size-1{
    width: 20px;
    height: auto;
}

.size-2{
    width: 35px;
    height: auto;
}

.size-3{
    width: 50px;
    height: auto;
}

.size-4{
    width: 75px;
    height: auto;
}

.size-5{
    width: 100px;
    height: auto;
}

/* menu contextuelle (cliquedroit)*/
#contextMenu{
    position:fixed;
    z-index: 1000;
    width:150px;
    background: #1b1a1a;
    border-radius: 5px;
}

#contextMenu .option {
    padding: 8px 10px;
    font-size: 15px;
    color: #eeeeee;
    cursor: pointer;
    border-radius: inherit;
}

#contextMenu .option:hover{
    background: #343434;
}


#invisible{
    position:absolute;
    width:100%;
    height:100%;
    margin: 0 !important;
    z-index: 998;
}

.hidden{
    display: none;
}